In [215]:
import pandas as pd
pd.__version__

'2.2.3'

# Dataset: Stanford Open Policing Project: Rhode Island

## Intro: Inspection
Data on police traffic stops in Rhode Island between 2005 - 2015.

In [216]:
ri = pd.read_csv('police.csv')

In [217]:
ri

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [218]:
# False is 0, True is 1
ri.isna().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [219]:
ri['driver_gender'].value_counts()

driver_gender
M    62895
F    23511
Name: count, dtype: int64

In [220]:
# ri.head()
# ri.tail()
# ri.sample(10)

In [221]:
# ri.index
# ri.columns
# ri.shape
# ri.dtypes

In [222]:
ri.search_conducted.value_counts()

search_conducted
False    88545
True      3196
Name: count, dtype: int64

In [223]:
ri.notna().sum()

stop_date             91741
stop_time             91741
county_name               0
driver_gender         86406
driver_age_raw        86414
driver_age            86120
driver_race           86408
violation_raw         86408
violation             86408
search_conducted      91741
search_type            3196
stop_outcome          86408
is_arrested           86408
stop_duration         86408
drugs_related_stop    91741
dtype: int64

In [ ]:
# "For the NaN values in search_type, are they entirely and wholly dependent on a False value in search_conducted for the same row?"
ri[ri.search_conducted == True].search_type.isna().value_counts()

# Appears so?

search_type
False    3196
Name: count, dtype: int64

In [ ]:
# Below is the closest we can get to concluding the above; "Any rows where a search was not conducted yet it still has a search type".
ri[(ri.search_conducted == False) & (ri.search_type.notna())]

# We should get an empty dataframe if our assumption is "correct".

Empty DataFrame
Columns: [stop_date, stop_time, county_name, driver_gender, driver_age_raw, driver_age, driver_race, violation_raw, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, frisk, stop_datetime]
Index: []

## 1. Remove the column(s) that contain(s) only missing values.

In [ ]:
# (optional) Find out which columns are entirely NaN

# Drop the columns that are all NaN

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [ ]:
# If we want to be explicit

# Niina
ri.notna().sum()
ri.drop(columns='county_name')

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,frisk,stop_datetime
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,NaN,2005-01-02 01:55:00
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,NaN,2005-01-18 08:15:00
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,NaN,2005-01-23 23:15:00
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,NaN,2005-02-20 17:15:00
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,NaN,2005-03-14 10:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False,NaN,2015-12-31 20:27:00
91737,2015-12-31,20:35,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False,NaN,2015-12-31 20:35:00
91738,2015-12-31,20:45,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False,NaN,2015-12-31 20:45:00
91739,2015-12-31,21:42,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,NaN,2015-12-31 21:42:00
91740,2015-12-31,22:46,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,NaN,2015-12-31 22:46:00

In [ ]:
# Will get rid of all columns that are entirely NaN. Note the importance of the axis and how parameter here.

# Kaisa
ri.dropna(axis=1, how='all')

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [ ]:
# Most Pandas operations will not "mutate" the original Dataframe. If we want to persist any changes, we either have to:
# 1. Use the inplace=True parameter
# 2. Or assign the result back to the original variable (or a new variable)

# ri.dropna(axis=1, how='all', inplace=True)
# ri = ri.dropna(axis=1, how='all')

In [228]:
ri

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

## 2. When men and women get stopped by police, is the reason more often Speeding for one gender?
What do we mean with this?

In [229]:
# What columns are we interested in?

# What operations do we need to do in order to answer the question?

# Are there "operations" we do not know of, but may expect to exist?

# Count/sum up? Keep separate by group? Get averages for each group?
# - It is a good idea to solve one step at a time. Start simple.

In [ ]:
ri.groupby('driver_gender').violation.value_counts(normalize=True)

driver_gender  violation
F              Speeding               0.658500
               Moving violation       0.136277
               Equipment              0.105780
               Registration/plates    0.043086
               Other                  0.029348
               Seat belt              0.027009
M              Speeding               0.524350
               Moving violation       0.207012
               Equipment              0.135671
               Other                  0.057668
               Registration/plates    0.038461
               Seat belt              0.036839
Name: proportion, dtype: float64

In [231]:
ri.groupby('violation').driver_gender.value_counts(normalize=True)

violation            driver_gender
Equipment            M                0.774319
                     F                0.225681
Moving violation     M                0.802515
                     F                0.197485
Other                M                0.840167
                     F                0.159833
Registration/plates  M                0.704837
                     F                0.295163
Seat belt            M                0.784892
                     F                0.215108
Speeding             M                0.680527
                     F                0.319473
Name: proportion, dtype: float64

## 3. Does gender affect who gets searched more often?

In [232]:
# What columns are we interested in?

# What operations do we need to do in order to answer the question?

# Are there "operations" we do not know of, but may expect to exist?

# Count/sum up? Keep separate by group? Get averages for each group?
# - It is a good idea to solve one step at a time. Start simple.

# We can use multiple groupings at the same time (could be relevant to add context and extracting more tangential information)

In [ ]:
# It's possible to groupby on a list of several column headers - order matters! (try swapping them around)
ri.groupby(['violation', 'driver_gender']).search_conducted.value_counts(normalize=True)

violation            driver_gender  search_conducted
Equipment            F              False               0.957378
                                    True                0.042622
                     M              False               0.929919
                                    True                0.070081
Moving violation     F              False               0.963795
                                    True                0.036205
                     M              False               0.940169
                                    True                0.059831
Other                F              False               0.943478
                                    True                0.056522
                     M              False               0.952854
                                    True                0.047146
Registration/plates  F              False               0.933860
                                    True                0.066140
                     M              False               0.889624
                                    True                0.110376
Seat belt            F              False               0.987402
                                    True                0.012598
                     M              False               0.962020
                                    True                0.037980
Speeding             F              False               0.991280
                                    True                0.008720
                     M              False               0.975075
                                    True                0.024925
Name: proportion, dtype: float64

In [234]:
ri.groupby('search_conducted').driver_gender.value_counts(normalize=True)

search_conducted  driver_gender
False             M                0.723110
                  F                0.276890
True              M                0.852628
                  F                0.147372
Name: proportion, dtype: float64

## 5. During a search, how often is the driver frisked?

In [ ]:
# Bucket the unique values for a count!
ri.search_type.value_counts()

search_type
Incident to Arrest                                          1219
Probable Cause                                               891
Inventory                                                    220
Reasonable Suspicion                                         197
Protective Frisk                                             161
Incident to Arrest,Inventory                                 129
Incident to Arrest,Probable Cause                            106
Probable Cause,Reasonable Suspicion                           75
Incident to Arrest,Inventory,Probable Cause                   34
Incident to Arrest,Protective Frisk                           33
Probable Cause,Protective Frisk                               33
Inventory,Probable Cause                                      22
Incident to Arrest,Reasonable Suspicion                       13
Inventory,Protective Frisk                                    11
Protective Frisk,Reasonable Suspicion                         11
Incident to Arrest,Inventory,Protective Frisk                 11
Incident to Arrest,Probable Cause,Protective Frisk            10
Incident to Arrest,Probable Cause,Reasonable Suspicion         6
Inventory,Reasonable Suspicion                                 4
Incident to Arrest,Inventory,Reasonable Suspicion              4
Inventory,Probable Cause,Reasonable Suspicion                  2
Inventory,Probable Cause,Protective Frisk                      2
Incident to Arrest,Protective Frisk,Reasonable Suspicion       1
Probable Cause,Protective Frisk,Reasonable Suspicion           1
Name: count, dtype: int64

In [ ]:
# Naive approach

# We create a new column, expecting it to be True or False depending on whether a Frisk was performed:

frisk_conducted = ri.search_type == 'Protective Frisk'
ri['frisk'] = frisk_conducted

In [ ]:
# The above won't work well. It turns NaN values into False:s and also fails to capture cells where 'Protective Frisk' was part of a longer string.

# string columns have a super-useful .str attribute loaded with useful functionality though!
# The following preserves missing values while searching for the string or substring!
ri['frisk'] = ri.search_type.str.contains('Protective Frisk')

In [ ]:
# Better now
ri['frisk'].value_counts(dropna=False)

frisk
NaN      88545
False     2922
True       274
Name: count, dtype: int64

In [ ]:
# rate = instances / total
# Equivalents

frisk_rate = ((ri.frisk == True).sum()) / ((ri.frisk == True).sum() + (ri.frisk == False).sum())
frisk_rate2 = ((ri.frisk == True).sum()) / (ri.frisk.notna().sum())
print(frisk_rate)
print(frisk_rate2)

0.08573216520650813
0.08573216520650813

## Injection: Datetime type

In [240]:
# Make a datetime type column "stop_datetime", from the existing str type columns "stop_date" & "stop_time"
# cat not as in the animal, but short for "conCATenate"
combined = ri.stop_date.str.cat(ri.stop_time, sep=' ')
ri['stop_datetime'] = pd.to_datetime(combined)

In [ ]:
# We can now access useful attributes such dt.year or dt.hour within a column of datetime type.
ri.stop_datetime.dt.year.value_counts()

stop_datetime
2012    10970
2006    10639
2007     9476
2014     9228
2008     8752
2015     8599
2011     8126
2013     7924
2009     7908
2010     7561
2005     2558
Name: count, dtype: int64

## 6. Find the bad data in the stop_duration column and fix it

- What is the "bad data"?

In [242]:
ri.stop_duration.value_counts(dropna=False)

stop_duration
0-15 Min     69543
16-30 Min    13635
NaN           5333
30+ Min       3228
2                1
1                1
Name: count, dtype: int64

- 1 and 2 are the values we consider bad.

In [243]:
# Plan: Replace the cells that have values 1 and 2 with NaN (missing value)

In [244]:
# Stop Duration is an 'O'bject type (string) column
ri.stop_duration.dtype

dtype('O')

In [245]:
# Wishful thinking ... but it is what we want to do. Just need the correct syntax.

# ri[ri.stop_duration == 1 or ri.stop_duration == 2] = 'NaN'

In [ ]:
# This won't work because of the method chaining of Dataframe subselection/views/copies
# Selecting on rows returns a view, and then in that subselection we select on the stop_duration column.
# If we try to assign, we're assigning to a copy of a copy that can't reference back to the original 'ri' dataframe.
ri[ri.stop_duration == '1'].stop_duration = 'temporary_value'

# Thus the "SettingWithCopyWarning". Pandas recognizes that what you're TRYING to do is not what IT WILL do.
# It proposes that we use .loc[row_indexing, col_indexing] to find the right cell(s) instead.

C:\Users\matteus.laurent\AppData\Local\Temp\ipykernel_11816\1203937781.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ri[ri.stop_duration == '1'].stop_duration = 'temporary_value'

In [247]:
# The default NaN-values in Pandas are the special nan values from the NumPy module: np.nan
import numpy as np

In [248]:
# Correct!

# | = logical or
# & = logical and
ri.loc[
    (ri.stop_duration == '1') | (ri.stop_duration == '2'),  # row indexing
    'stop_duration'                                         # column indexing
    ] = np.nan