In [100]:
import pandas as pd
pd.__version__

'2.2.1'

### Dataset: Stanford Open Policing Project: Rhode Island

Let's extract the data and get acquainted with it.

In [101]:
ri = pd.read_csv('police.csv')

In [102]:
ri.describe()
#ri.head()
#ri.sample() ...

       county_name  driver_age_raw    driver_age
count          0.0    86414.000000  86120.000000
mean           NaN     1970.491228     34.011333
std            NaN      110.914909     12.738564
min            NaN        0.000000     15.000000
25%            NaN     1967.000000     23.000000
50%            NaN     1980.000000     31.000000
75%            NaN     1987.000000     43.000000
max            NaN     8801.000000     99.000000

In [103]:
ri.shape

(91741, 15)

In [104]:
ri.isna().sum(axis=0)

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [105]:
# .loc whenever we want to index on both rows and columns
# 2 boolean expressions to filter on rows
# : - slicing "start:end"
# ri.loc[ 
# (ri['driver_age_raw'] < 1915) & (ri['driver_age_raw'] > 0)  
#     ,:]

ri[(ri['driver_age_raw'] < 1915) & (ri['driver_age_raw'] > 0)]

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
7397,2006-06-12,23:55,NaN,F,1887.0,NaN,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
71539,2013-09-08,09:50,NaN,F,1914.0,99.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,16-30 Min,False

In [106]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

In [107]:
ri['search_type'].value_counts()

search_type
Incident to Arrest                                          1219
Probable Cause                                               891
Inventory                                                    220
Reasonable Suspicion                                         197
Protective Frisk                                             161
Incident to Arrest,Inventory                                 129
Incident to Arrest,Probable Cause                            106
Probable Cause,Reasonable Suspicion                           75
Incident to Arrest,Inventory,Probable Cause                   34
Incident to Arrest,Protective Frisk                           33
Probable Cause,Protective Frisk                               33
Inventory,Probable Cause                                      22
Incident to Arrest,Reasonable Suspicion                       13
Inventory,Protective Frisk                                    11
Incident to Arrest,Inventory,Protective Frisk                 11
Protective Frisk,Reasonable Suspicion                         11
Incident to Arrest,Probable Cause,Protective Frisk            10
Incident to Arrest,Probable Cause,Reasonable Suspicion         6
Incident to Arrest,Inventory,Reasonable Suspicion              4
Inventory,Reasonable Suspicion                                 4
Inventory,Probable Cause,Protective Frisk                      2
Inventory,Probable Cause,Reasonable Suspicion                  2
Incident to Arrest,Protective Frisk,Reasonable Suspicion       1
Probable Cause,Protective Frisk,Reasonable Suspicion           1
Name: count, dtype: int64

In [108]:
ri[(ri['search_conducted'] == False) & (ri['search_type'].isna())]

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

### 1. Remove the column that only contains missing values

In [109]:
ri.drop(columns='county_name')

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [110]:
ri.dropna(axis='columns', how='all')

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

### 2. When men and women get pulled over, how often is the reason **Speeding**?

Steps to reach our goal?
- We are interested in rows for which the "violation" (or "violation_raw") value is *Speeding*
- Somehow count up, sum, or separate driver_gender [ *M* / *F* ] occurences?

In [111]:
speedsters = ri.groupby('violation')
ri_speedsters = speedsters.get_group('Speeding')
speeding = ri_speedsters.driver_gender.value_counts()

totals = ri.driver_gender.value_counts()

male_ratio = speeding['M']/totals['M']
female_ratio = speeding['F']/totals['F']

print(male_ratio, female_ratio)

0.5243501073217267 0.6585002764663349

In [112]:
speedings = ri[ri['violation_raw'] == 'Speeding'][:]
female = speedings['driver_gender'].value_counts()['F']
male = speedings['driver_gender'].value_counts()['M']
 
print("Females speed {} times".format(female))
print("Males speed {} times".format(male))

Females speed 15482 times
Males speed 32979 times

In [113]:
ri.groupby('driver_gender').violation.value_counts(normalize=True)

driver_gender  violation
F              Speeding               0.658500
               Moving violation       0.136277
               Equipment              0.105780
               Registration/plates    0.043086
               Other                  0.029348
               Seat belt              0.027009
M              Speeding               0.524350
               Moving violation       0.207012
               Equipment              0.135671
               Other                  0.057668
               Registration/plates    0.038461
               Seat belt              0.036839
Name: proportion, dtype: float64

### 3. Does gender affect who gets searched during a stop?

- Relevant columns: *driver_gender*, *search_conducted*
- *Search_conducted* has two values: True or False
- mean() might be usable
- grouping?
- ... could there be other factors to consider?

In [114]:
search_gender = ri.groupby(['violation','driver_gender'])['search_conducted'].value_counts()
search_gender

violation            driver_gender  search_conducted
Equipment            F              False                2381
                                    True                  106
                     M              False                7935
                                    True                  598
Moving violation     F              False                3088
                                    True                  116
                     M              False               12241
                                    True                  779
Other                F              False                 651
                                    True                   39
                     M              False                3456
                                    True                  171
Registration/plates  F              False                 946
                                    True                   67
                     M              False                2152
                                    True                  267
Seat belt            F              False                 627
                                    True                    8
                     M              False                2229
                                    True                   88
Speeding             F              False               15347
                                    True                  135
                     M              False               32157
                                    True                  822
Name: count, dtype: int64

### 4. During a search, how often is the driver frisked?

In [115]:
ri.search_type.value_counts(dropna=False)

search_type
NaN                                                         88545
Incident to Arrest                                           1219
Probable Cause                                                891
Inventory                                                     220
Reasonable Suspicion                                          197
Protective Frisk                                              161
Incident to Arrest,Inventory                                  129
Incident to Arrest,Probable Cause                             106
Probable Cause,Reasonable Suspicion                            75
Incident to Arrest,Inventory,Probable Cause                    34
Probable Cause,Protective Frisk                                33
Incident to Arrest,Protective Frisk                            33
Inventory,Probable Cause                                       22
Incident to Arrest,Reasonable Suspicion                        13
Incident to Arrest,Inventory,Protective Frisk                  11
Protective Frisk,Reasonable Suspicion                          11
Inventory,Protective Frisk                                     11
Incident to Arrest,Probable Cause,Protective Frisk             10
Incident to Arrest,Probable Cause,Reasonable Suspicion          6
Incident to Arrest,Inventory,Reasonable Suspicion               4
Inventory,Reasonable Suspicion                                  4
Inventory,Probable Cause,Protective Frisk                       2
Inventory,Probable Cause,Reasonable Suspicion                   2
Incident to Arrest,Protective Frisk,Reasonable Suspicion        1
Probable Cause,Protective Frisk,Reasonable Suspicion            1
Name: count, dtype: int64

In [116]:
ri['frisk'] = ri.search_type == 'Protective Frisk'

In [117]:
ri['search_type'].str.contains("Protective Frisk").value_counts(normalize=True)

search_type
False    0.914268
True     0.085732
Name: proportion, dtype: float64

### Datetime type

In [118]:
ri.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
frisk                    bool
dtype: object

In [119]:
# First combine stop_date and stop_time
combined = ri['stop_date'].str.cat(ri['stop_time'], sep=' ')
combined

0        2005-01-02 01:55
1        2005-01-18 08:15
2        2005-01-23 23:15
3        2005-02-20 17:15
4        2005-03-14 10:00
               ...
91736    2015-12-31 20:27
91737    2015-12-31 20:35
91738    2015-12-31 20:45
91739    2015-12-31 21:42
91740    2015-12-31 22:46
Name: stop_date, Length: 91741, dtype: object

In [120]:
ri['stop_datetime'] = pd.to_datetime(combined)

In [121]:
ri.dtypes

stop_date                     object
stop_time                     object
county_name                  float64
driver_gender                 object
driver_age_raw               float64
driver_age                   float64
driver_race                   object
violation_raw                 object
violation                     object
search_conducted                bool
search_type                   object
stop_outcome                  object
is_arrested                   object
stop_duration                 object
drugs_related_stop              bool
frisk                           bool
stop_datetime         datetime64[ns]
dtype: object

### 6. Find the bad data in the stop_duration column and fix it

In [122]:
ri['stop_duration'].value_counts()

stop_duration
0-15 Min     69543
16-30 Min    13635
30+ Min       3228
2                1
1                1
Name: count, dtype: int64

In [123]:
import numpy as np

In [124]:
# ri[(ri.stop_duration == '1') | (ri.stop_duration == '2')]['stop_duration'] = np.nan # SettingWithCopyWarning!!

ri.loc[(ri.stop_duration == '1') | (ri.stop_duration == '2'),'stop_duration'] = np.nan

In [125]:
ri['stop_duration'].value_counts(dropna=False)

stop_duration
0-15 Min     69543
16-30 Min    13635
NaN           5335
30+ Min       3228
Name: count, dtype: int64